* {
  font-family: monospace;
  text-align: center;
}

#doc-title {
  margin: 3rem;
}

#doc-description {
  max-width: 50vw;
  line-height: 1.4;
  margin: auto;
  text-align: justify;
}

#demos-container {
  margin: 3rem 0;
}

.demo {
  margin-bottom: 2rem;
}

p,
.demo-title {
  margin: 0;
}

.example-type {
  font-style: italic;
  font-weight: bold;
}

#demos-container,
.demo-example,
.example-attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.demo-example {
  gap: 0.7rem;
  margin: 1rem 0;
}

canvas {
  border: 1px solid black;
  background: white;
}

.curve-type,
.slider {
  display: flex;
  justify-content: left;
  gap: 0.25rem;
  white-space: nowrap;
}

.example-attributes {
  gap: 0.2rem;
  width: 100%;
}

.example-attributes>div,
.slide-control,
.example-attributes>input {
  width: 100%;
}