* {
  font-family: monospace;
  text-align: center;
}

#doc-title {
  margin-top: 3rem;
}

#doc-description {
  max-width: 50vw;
  line-height: 1.4;
  margin: auto;
  text-align: justify;
}

#demos-container {
  margin: 3rem 0;
}

.demo {
  width: 80vw;
  margin-bottom: 3rem;
}

.demo-title {
  margin: 0;
}

.demo>div {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 3rem;
}

.example-type {
  font-style: italic;
  font-weight: bold;
}

#demos-container,
.demo-example,
.example-attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.demo-example {
  gap: 0.3rem;
}

canvas {
  border: 1px solid black;
  background: white;
}

.example-attributes {
  gap: 0.2rem;
  width: 100%;
}

.slider,
.slide-control {
  width: 100%;
}

.slider {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;
  white-space: nowrap;
}

.restart-btn {
  align-self: flex-end;
  font-size: 0.7em;
  background-color: transparent;
  border: none;
  color: #9c9c9c;
  padding: 0;
}

.restart-btn:hover {
  font-weight: bold;
  color: black;
}